.site-theme{
    background-color: #3aafa9;
}


.flex-header{
    width: 100%;
    text-align: center;
    color:white;
    padding: 50px 0px;
}

.dark-flex-theme{
    background-color: #2b7a78;
}

.flex-navbar{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
}



@media(max-width:768px){
    .flex-navbar{
        flex-direction: column;
    }
}

.footer .flex-navbar{
    flex-direction: row !important;
    justify-content: center;
}

.footer .flex-navbar p{
    font-size: 24px;
    margin: 16px;
}

.black-theme{
    background-color: #17252a;
    color: white;
}

.flex-navbar-link{
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.flex-navbar-link:hover{
    background-color: white;
    color: #17252a;
}

@media(max-width:768px){
    .flex-navbar-link{
        text-align: center;
        margin-left: 0px !important;
    }
}

.mobile-menu,
.mobile-close{
    display: none;
}

@media(max-width:768px){
    .mobile-menu{
        display: flex;
        flex-direction: row;
    }

    

    .menu-name{
        padding: 20px;
        font-size: 24px;
    }

    .hamburger-link{
        margin-left: auto !important;
    }

    .hamburger-link i{
        font-size: 32px;
    }

    .main-menu{
       display: none;
    }

    .main-menu.active{
        display: flex;
        position: fixed;
        height: 100%;
        width: 100%;
    }

    .main-menu .flex-navbar-link{
        font-size: 24px;
    }

    .mobile-close{
        display: block;
        text-align: end;
        margin: 20px;
    }
}


.flex-body{
    display: flex;
}

.flex-left-layout{
    flex: 30%;
}

.flex-right-layout{
    flex: 70%;
    padding: 20px;
}

@media(max-width:768px){
    .flex-body{
        flex-wrap: wrap;
    }
    .flex-left-layout,
    .flex-right-layout{
        flex:100%;
    }
}

.flex-layout-left-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.flex-layout-profile-picture{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 10px auto 0px;
}

.flex-layout-left-content-header{
    font-size: 32px;
}

.flex-layout-left-content-subheader1{
    font-size:24px
}

.flex-layout-left-content-subheader2{
    font-size: 20px;
}

.flex-layout-left-content-header,
.flex-layout-left-content-subheader1,
.flex-layout-left-content-subheader2{
    margin-bottom: 0px;
}

.flex-layout-left-content-resume{
    text-decoration: none;
    font-size: 20px;
    background-color: #17252a; 
    color: white; 
    padding: 15px 20px;
    border-radius: 24px;
}


.flex-layout-left-content-resume:hover{
    background-color: #0e1416;
}

.flex-layout-left-links-description{
    font-size: 18px;
    flex-basis: 40%;
}

@media(max-width:768px)
{
    .flex-layout-left-links-description{
        flex-basis: 25%;
    }
}

@media(min-width:1200px) and (max-width:1400px){
    .techstacks .flex-navbar-link{
        padding: 14px 13px !important;
    }
}

.techstacks .flex-navbar-link a{
    color: white;
}



.techstacks .flex-navbar-link:hover a{
    color: #17252a;
}

.st0{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:white;
}

.techstacks .flex-navbar-link:hover .st0{
    fill: #17252a;
}

.cls-1,.cls-2{
    fill:white;
}

.cls-2{
    fill-rule:evenodd;
}

.techstacks .flex-navbar-link:hover .cls-1{
    fill: #17252a;
}

.techstacks .flex-navbar-link:hover .cls-2{
    fill: #17252a;
}

.st0-text{
    fill:#17252a ;
}
.techstacks .flex-navbar-link:hover .st0-text{
    fill: white;
}

.svg-icons{
    height: 30px;
    width: 30px;
}

.svg-icons path{
    fill:  white;
}

.techstacks .flex-navbar-link:hover .svg-icons path{
    fill:  #17252a;
}


/*** Slider CSS Starts ***/


.flex-right-title{
    font-size: 32px;
    color: white;
    padding-top: 15px;
}

.slider{
    display: flex;
    width: 400px;
    margin: 0 auto;
}

@media(max-width:450px){
    .slider{
        width: 300px !important;
        margin: 0;
    }
}

.slick-list{
    box-shadow: 0 0 8px 4px rgb(0 0 0 / 45%);
    border-radius: 16px;
}

.slick-track{
    display: flex;
    background-color: white;
    border: 1px solid #4e4b4b;
}

.slider-content-image{
    height: 400px;
    width: 400px;
    align-items:center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
}

@media(max-width:450px){
    .slider-content-image{
        width: 300px;
        height: 275px;
    }
}

.slider-content-image-tag{
    width: 100%;
    height: 100%;
    position: absolute;
}

/* .company_projects .slider-content-image-tag{
    top:100px;
    left: 100px;
    width: 100px; 
    height: 100px;
} */

/* - */

.slider-content-description{
    padding: 0 20px 20px;
    color: #17252a;
    display: flex;
    flex-direction: column;
}

.slider-content-description-header{
    font-size: 24px;
    padding: 15px 0px;
}

.slider-content-description-header span{
    font-size: 16px;
    color: grey;
    font-style: italic;
}

.slider-content-description ul{
    padding :0px 0px 50px 20px;
}

.slider-content-description ul li{
    padding-bottom: 10px;
}

.slider-content-description-link{
    position: absolute;
    bottom: 30px;
}

.slider-content-description-link a{
    background-color: #17252a; 
    color: white; 
    padding: 15px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 24px;
    font-weight: 600;
}

.slider-content-description-link a:hover{
    background-color: #0e1416;
}
/*** Slider CSS Ends ***/
