*{
    box-sizing: border-box;
}
.header-section{
  background: grey; 
  text-align: center;
  color: white;
  font-size: 50px;
  padding: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.footer-section{
    background: grey; 
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 25px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    font-family: 'Garamond', serif;
}

/*** Set Font Family for entire webpage Starts ***/

body{
    font-family: 'Calibri';
}

h1{
    font-family: 'Lucida Handwriting';
}

h2{
    font-family: 'papyrus';
}

.google-font-ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.google-font-sofia{
    font-family: 'Sofia', sans-serif;
}

/*** Set Font Family for entire webpage Ends ***/

/***Top Nav Bar changes starts **/
.top-nav-bar{
    width: 100%;
    background: lightgray;
}

.top-nav-bar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

.top-nav-bar ul li:hover{
    background: grey;
}

.top-nav-bar ul li a{
    text-decoration: none;
    color: #999999;
    font-weight: 600;
}

.top-nav-bar ul li:hover a{
 color: white;

}

.top-nav-dropdown{
    position: absolute;
    box-shadow: 0 0 4px 2px(0,0,0.05);
    border: 1px solid #d0d0d0;
    background: white;
    border-radius: 4px;
}

.top-nav-dropdown .top-nav-dropdown-links{
    display: block;
    padding: 10px 20px;
    color: grey !important;
    text-decoration: none;
}

.top-nav-dropdown .top-nav-dropdown-links:hover{
    background: lightgray;
    color: white  !important;
}

.top-nav-bar ul li:hover .top-nav-dropdown{
    display: block !important;
}

/***Top Nav Bar changes Ends **/

/*** Body Section Left nav bar Changes starts ***/
.body-section::after{
    content: "";
    clear: both;
    display: table;
}
.body-section .left-nav-bar{
    float: left;
    width: 20%;
    background: lightgray;
    position: sticky;
    top: 250px;
}

.body-section .content-section{
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.left-nav-bar ul{
    padding: 0px;
}

.left-nav-bar ul li{
    list-style-type: none;
}

.left-nav-bar ul li:hover{
    background: grey;
}

.left-nav-bar ul li a{
    text-decoration: none;
    color: #999999;
    font-weight: 600;
    width: 100%;
    line-height: 45px;
    display: block;
    text-align: center;
}

.left-nav-bar ul li:hover a{
 color: white;
}

.left-nav-bar ul li.left-nav-header{
    margin-bottom: 10px;
    width: 100%;
    line-height: 60px;
    display: block;
    text-align: center;
}

.default-highlighted{
    background: grey;
    color: white !important;
}

@media screen and (max-width:600px){
    .left-nav-bar,.content-section{
        width: 100%;
    } 
}
/*** Body Section Left nav BarChanges ends ***/

/*** Scroll Top css starts ***/
.scrollTop{
    position: fixed;
    bottom: 50px;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
}

/*** Scroll Top css ends ***/


/*** iFrame header Css starts ***/
.iframe-header{
    width: 100%;
    height: 350px;
    display: block;
    border: 0px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.iframe-footer{
    width: 100%;
    height: 135px;
    border: 0px;
}

/*** iFrame header Css ends ***/


/*** HTML Forms Starts ***/

.form-layout {
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 0 auto;
    width: 400px;
    background: darkgrey;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*** HTML Forms Ends ***/


#webchat .rw-conversation-container .rw-image-frame{
    height:auto;
    object-fit: contain;
}


/***Bootstrap Basic Class Starts ***/
.row{
    width: 100%;
}

.column-4{
    width: 25%;
}

@media (max-width:768px) {
    .column-4{
        width: 33.333%;
    }
}


@media (max-width:565px) {
    .column-4{
        width: 100%;
    }
}

.column-3{
    width: 33.333%;
}

@media (max-width:768px) {
    .column-3{
        width: 50%;
    }
}


@media (max-width:565px) {
    .column-3{
        width: 100%;
    }
}

.column-2{
    width: 50%;
}


@media (max-width:565px) {
    .column-2{
       width: 100%;
    }
}

.column-75{
    width: 75%;
}


@media (max-width:565px) {
    .column-75{
        width: 100%;
    }
}


.hover-effect:hover{
    box-shadow: 0 0 4px 2px rgba(0,0,0.05);
}

.padding-top-bottom-10px{
    padding: 10px 0px;
}

.padding-left-20px{
    padding-left: 30px;
}

.button-padding{
    padding: 10px 20px;
}

.border-radius{
    border-radius: 8px;
}

input.button-padding:hover{
    background: #999999;
    color: white;
}

@media(max-width:768px){
    img{
        width: 300px;
    }
}


/*** Flex properties start***/

.flex-container{
    display: flex;
}

.flex-items-box{
    padding: 40px;
    border: 1px solid #d0d0d0;
    background-color: white;
    font-weight: 400;
    margin: 10px;
}

.bg-grey{
    background-color: grey;
}
/*** Flex properties End***/

.table-border,
.table-border th,
.table-border td{
    border: 1px solid;
    border-collapse: collapse;
}
